.navbar {
    width: var(--collapsed-width);
    transition: width var(--transition-duration) ease;
    position: relative;
    z-index: var(--z-index);
    border-right: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    height: 100%;
}

.navbar:hover {
    width: var(--expanded-width);
    border-right: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.navbar::after {
    content: '';
    position: fixed;
    top: 60px;
    left: var(--collapsed-width);
    width: 0;
    height: 100vh;
    background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    z-index: -1;
    opacity: 0;
    transition: all var(--transition-duration) ease;
}

.navbar:hover::after {
    width: calc(var(--expanded-width) - var(--collapsed-width) - 1px);
    opacity: 1;
}

.links {
    height: calc(100% - 60px);
}

.linksInner {
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-xl);
    min-height: 100%;
}

.footerContainer {
    position: fixed;
    bottom: 0;
    width: inherit;
    background: inherit;
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    padding-bottom: var(--mantine-spacing-md);
    z-index: var(--z-index);
}

.control {
    display: flex;
    align-items: center;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    transition: background-color 0.2s;
}

.control:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.linkIcon {
    flex-shrink: 0;
}

.section {
    margin-bottom: var(--mantine-spacing-xl);
}

.link {
    font-weight: 500;
    display: block;
    text-decoration: none;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-xl);
    margin-left: var(--mantine-spacing-xl);
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    border-left: none;
    transition: all var(--transition-duration) ease;
}

.navbar:hover .link {
    border-left: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
