.itemDragging {
    box-shadow: var(--mantine-shadow-sm);
}

.item {
    transition: background-color 150ms ease;
}

.item:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
} 