.env
Practice.mp4
real-analysis/


network-flow/
farkas-lemma/
integer-programming/
linear-regression/
convex-analysis/

network-flow.pdf
farkas-lemma.pdf
integer-programming.pdf
linear-regression.pdf
convex-analysis.pdf

textbook/V.pdf
textbook/MG.pdf
textbook/C.pdf
textbook/V/
textbook/MG/
textbook/C/

homework/

summary/LinearProgramming