app/env
uploads
classes
cache
.venv

.coverage
coverage.xml

.pytest_cache
.ruff_cache
.mypy_cache

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/

# Compiled Python files
*.py[cod]
.env