<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Kaltura Video Player</title>
</head>

<body>

    <div id="kaltura_player" style="width: 560px;height: 395px"></div>
    <script type="text/javascript"
        src="https://cdnapisec.kaltura.com/p/4834032/embedPlaykitJs/uiconf_id/50952692"></script>
    <script type="text/javascript">
        try {
            var kalturaPlayer = KalturaPlayer.setup({
                targetId: "kaltura_player",
                provider: {
                    partnerId: 4834032,
                    uiConfId: 50952692
                }
            });
            kalturaPlayer.loadMedia({ entryId: '1_fwzaeesq' });
        } catch (e) {
            console.error(e.message)
        }
    </script>

</body>

</html>