<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kaltura Video Player</title>
</head>
<body>

  <!-- Kaltura Player auto-embed script -->
  <div id="kaltura_player" style="width: 640px; height: 360px;"></div>
  <script
    type="text/javascript"
    src='https://cdnapisec.kaltura.com/p/983291/sp/98329100/embedPlaykitJs/uiconf_id/28052051/partner_id/983291?autoembed=true&targetId=kaltura_player&entry_id=1_ifwncvqk&config[playback]={"autoplay":true}'
  ></script>

</body>
</html>
