.footer {
  width: 100%;
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-xl);
  max-width: var(--mantine-breakpoint-lg);
  margin: 0 auto;

  @media (max-width: 36em) { /* 36em = Mantine's xs breakpoint */
    flex-direction: column;
  }
}

.links {
  @media (max-width: 36em) { /* 36em = Mantine's xs breakpoint */
    margin-top: var(--mantine-spacing-md);
  }
}